
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #061728, #27646d);
    color: white;
    text-align: center;
    margin: 0;
    padding: 20px;
}


input {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

input:focus {
    outline: none;
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.5);
}


button {
    background: #ff6f61;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    width: 100px;
    margin-top: 15px;
    margin-left: 10px;

}

button:hover {
    background: #ff483a;
}


table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    text-align: center;
}

th {
    background: rgba(255, 255, 255, 0.3);
    font-size: 18px;
}

td {
    font-size: 16px;
}


@media (max-width: 600px) {
    .container {
        width: 90%;
    }

    table {
        width: 100%;
    }
}
.logo {
  display: block;
  max-width: 150px;
  margin: 0 auto 15px auto;
  border-radius: 10px;
}
